@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
  
  #root {
    height: 100%;
  }
}
